{% extends 'shop/basic.html' %}

{% block title%}About us{% endblock %}

{% block body%}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Tribal Mart!</h1>
      <p>In August 2018, Kapil Thakkar along with Jayesh Dewangan and Amit Kumar and team started Tribal Mart India’s largest online art and craft marketplace.
With the widest ranges of art and craft and various categories from local, regional and national retailers
</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>Our Principles</h2>
        <p>Tribal Mart is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long- term thinking. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-3">
        <h2>Building the future </h2>
        <p>We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. We have smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-3">
        <h2>Basic Idea</h2>
        <p>The basic idea before the project is to promote the tourism, art and culture in bastar. And through this we can provide emloyeement to everyone whether they are educated or uneducated people.
Through this everyone would get an equal opportunity to people’s of rural areas to showcase their talent and through this anyone can sell their product in global market.
</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-3">
        <h2>Goals</h2>
        <p>The Online Tribal Mart will work as a mediator between the consumers and seller providing them a platform globally through an online e-commerce website to showcase their art and culture in front of the world.
In this project we would contact the local dealer as well as the peoples who are interested to sell there products that contain different types of artwork that are famous in the whole world and have large demand in the market.
In this we are also providing different photographers of Chhattisgarh to exhibit there talent so from that also the tourism can also increase in bastar.

</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>



{% endblock %}