{% extends 'shop/basic.html' %}

{% block title%}Checkout{% endblock %}



{% block body%}

<div class="container">
    <div class="col my-4">
        <h2>Payment status regarding your order Id <br>{{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        <br>
        Please use this order Id for the Tracking your order.
        {% else %}
        ORDER FAILURE
        {% endif%}
    </div>
</div>
{% endblock %}
{% block js %}
<script>


function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));

    localStorage.clear();
    cart = {};
    updateCart(cart);
}

</script>
{% endblock %}